@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-bg-color: #FFEECF;
}

body {
    margin: auto;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #D36582;
    margin: 0;
}

#description {
    text-align: center;
    color: #D36582;
    font-style: italic;
    margin: 0 0 10px 0;
}


#survey-form {
    display: flex;
    flex-direction: column;
    background-color: #C9A690;
    margin-bottom: 10%;
}

.form-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

#submit {
    height: auto;
}